{% extends 'KirktonApp/base.html' %}

{% block title_block %}
Log in
{}% endblock %}

{% block body_block %}
<div class="container">
  <!-- add to forms page so that the below line works -->
  <form id="login_form" methods="post" action="{% url 'KirktonApp:login' %}">
  {% csrf_token %}
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" id="username" name="username" required>
    <br/>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" id="password" name="password" required>
    <br/>
    <input type="submit" value="Login">
  </form>
</div>

{% endblock %}
