<footer class="page-footer font-small blue-grey lighten-5">
    <div class="container text-center text-md-left mt-5">
        <div class="row mt-3 dark-grey-text">
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 text-justify text-lg-center">
                <h6 class="text-uppercase font-weight-bold">Website Links</h6>
                <p>
                  <a class="nav-link" href="{% url 'KirktonApp:home' %}">Home</a>
                </p>
                <p>
                    <a class="nav-link" href="{% url 'KirktonApp:about'%}">About Us</a>
                </p>
                <p>
                  <a class="nav-link" href="{% url 'KirktonApp:login' %}">Log in</a>
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <p>Glasgow, UK</p>
                <p>2032000h@student.glasgow.ac.uk</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center text-black-50 py-3">
        <a class="dark-grey-text" >KirktonApp</a>
    </div>
</footer>