{% extends 'KirktonApp/base.html' %}
{% load static %}

{% block title_block %}
  About This Application
{% endblock %}

{% block body_block %}
<div>
        <img src="/static/images/field.jpeg" id="field" width="420" alt="missing field image"/>

<canvas id="chart" width="400" height="400"></canvas>

<script>

// chart.js example code
var ctx = document.getElementById('chart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});


       console.log('fetching field image');
            displayImage()
                .then(response => {
                console.log('the code has worked!');
            })
            .catch(error => {
                console.log('error!');
                console.error(error);
            });

       async function displayImage(){
        // cant get this image to show on the live server - could have something to do
        // with how ive configured my static files
            const response = await fetch('static/images/field.jpeg');
            const blob = await response.blob();
            document.getElementById('field').src = URL.createObjectURL(blob);
        }


    getData();
    async function getData(){
        const response = await fetch('static/RiverLevelSensor775.csv');
        const data = await response.text();

        // splits data into rows, and removes title row from parsing
        const table = data.split('\n').slice(1);

        // splitting the rows
        table.forEach(row => {
            const columns = row.split(',');
            const timestamp = columns[0];
            const timezone = columns[1];
            const distance = columns[2];
            console.log(timestamp, distance);
        });


    }

</script>
</div>

<div>
    <h1 class = 'title'> About </h1>

    <!-- main body -->
    <div class="container" >
     <div class="row my-3">
        <div class="col-9">
          Description of app and some info about using it can go here.
        </div>
     </div>
    </div>
</div>

{% endblock %}
