{% extends 'KirktonApp/base.html' %}
{% load static %}

{% block title_block %}
  <br>About This Application
{% endblock %}

{% block body_block %}
</div>

<div>
    <h1 class = 'title'> Kirkton - IoT and LoRaWAN </h1>

    <!-- main body -->
    <div class="container" >
     <div class="row my-3">
        <div class="col-9">
          The “Internet of Things” or IoT encompasses everything that is connected to the internet, but increasingly it is being used to describe the network of devices, from smartphones and wearables, through to vehicles, home appliances, environmental and industrial sensors, and a multitude of other sensors and devices, that contain hardware and software which allows them to connect, interact and exchange data; in other words communicate with each other. There are numerous IoT applications in farming from tracking livestock or agricultural machinery, through to collecting a range of environmental data. This data can be used to automate farming techniques, increase efficiency and potentially reduce greenhouse gas emissions. It enables informed decisions to be taken that could improve product quality and quantity, minimise waste, and reduce the effort and cost required to manage the farm.
          <br><br>
        An LPWAN (Low Power Wide Area Network) is a type of wireless telecommunication network designed to allow long range communication between Internet of Things (IoT) devices. One example of an LPWAN is LoRaWAN, which stands for Long Range Wide Area Network. LoRaWAN makes it possible to have inexpensive, long-range connectivity for battery powered IoT devices in rural and remote locations. It has low power consumption allowing LoRa-enabled devices to have up to 10 years of battery life. LoRaWAN is suitable for transferring lots of small packets of data at regular intervals which is ideal for most environmental sensors. However, it is not suitable for large data packets, for example it cannot be used for transferring images or video streaming. LoRaWAN uses gateways that can connect to and transfer data packets from multiple sensors within about a 10km radius.
        <br><br>
        A network of LoRaWAN gateways and IoT sensors for monitoring environmental variables and tracking livestock has been established at the SRUC Hill &amp; Mountain Research Centre, at Kirkton and Auctertyre Farms, near Crianlarich. This is one of the first LoRaWAN networks to have been established in a remote, rural environment in the UK. The sensor network is being used to demonstrate how near real-time data can be used to inform management decisions on the farm, such as knowing when soil temperature and moisture levels are optimum for the application of fertilizer to particular fields, alerting staff to potential flood events when critical river levels are reached, or informing staff when livestock stray from particular areas or when they behave abnormally, indicating that there may be an animal health issue.
        <br><br><b>Dr John Holland</b>
        </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <p>Glasgow, UK</p>
                <p> Kate Hickey </p>
                <p>2032000h@student.glasgow.ac.uk</p>
          </div>
     </div>
    </div>
</div>

{% endblock %}
