{% extends 'KirktonApp/base.html' %}
{% load static %}

{%block title_block %}
    Add a new sensor to the map:
{% endblock %}

{% block body_block %}

<div class="container" name="main body" >

    <form id="sensor_form" method="post" action="{% url 'KirktonApp:add_sensor' %}" enctype="multipart/form-data">
            <!-- display the form -->
            {{form.as_p}}
            {{form.media}}

        <!-- button to submit form -->
    <input type="submit" name="submit" value="Add_sensor" />
    </form>

</div>

{% endblock %}