<!DOCTYPE html>

<html>

<head>
   <title> SRUC Kirkton & Auchtertyre </title>

    <!--Mapbox sources -->
   <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />

    <!-- JQuery -->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.js"></script>


<script async src="https://cse.google.com/cse.js?cx=002858639642519775440:wqougxmojpz"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Chart.js sources -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<link rel="stylesheet" type="text/css" href="KirktonApp/static/css/style.css">

<!--  <header style="background-color: #8FBC8F;"> -->
    <h1>
        SRUC Kirkton & Auchtertyre
      {% block title_block %}
     {% endblock %}
   </h1>

   <!-- log in button -->
     <div class="header" name="header" >
       <div class="row">
         <div class="col-5 align-self-center">
             <div class="row mt-4 md-2 py-2 justify-content-end" name="login" >
                 {% if user.is_authenticated %}
                   <div class="row justify-content-center">
                     <div class="col-3 mx-1">Welcome {{user.username}} !</div>
                       <div class="col-2 mx-1">
                         <form method="get" action="{% url 'KirktonApp:logout' %}">
                             <button class="btn btn-outline-primary px-4">Logout</button>
                         </form>
                         </div>
                     </div>
                     {% else %}
                     <div class="col-3">
                     <form method="get" action="{% url 'KirktonApp:login' %}">
                         <button class="btn btn-outline-primary px-4">Login</button>
                     </form>
                     </div>
                    <div class = "col-6">
                        <form method="get" action="{%url 'KirktonApp:add_sensor_form' %}">
                        <button class="btn btn-outline-primary px-4">Add Sensor</button>
                        </form>
                    </div>
                     {% endif %}
                 </div>
           </div>
         </div>
       </div>
</header>

  <base href="/KirktonApp/">

</head>
<body>

<div>
    {% block body_block %}
    {% endblock %}
</div>


<!--Below is a footer that contains a short blurb about the site, some useful links to other parts of the website,
     and contact details where users can reach us. Helps keep the website neat. -->

<footer class="page-footer font-small blue-grey lighten-5">
  <div class="footer sticky-footer">
    <div class="container text-center text-md-left mt-5">
        <div class="row mt-3 dark-grey-text">
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 text-justify text-lg-center">
                <h6 class="text-uppercase font-weight-bold">Website Links</h6>
                <p>
                  <a class="nav-link" href="{% url 'KirktonApp:home' %}">Home</a>
                </p>
                <p>
                    <a class="nav-link" href="{% url 'KirktonApp:about'%}">About</a>
                </p>
                <p>
                  <a class="nav-link" href="{% url 'KirktonApp:login' %}">Log in</a>
                </p>
                            <!-{% if registered ->
                <p>
                    <a class="nav-link" href="{% url 'KirktonApp:register_user' %}">Register a new user</a>
                </p>
                            <!- {% endif ->
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <p>Glasgow, UK</p>
                <p>2032000h@student.glasgow.ac.uk</p>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center text-black-50 py-3">
        <a class="dark-grey-text" >KirktonApp</a>
    </div>
  </div>
</footer>

</html>
