{% extends 'KirktonApp/base.html' %}
{% load static %}

{% block body_block %}


 <div class="container" name="main body" >

    <div id='graphButton'></div>
    <!-- class="nav-link" href="{% url 'KirktonApp/sensorGraph.html'"> -->

 <!-- Side panel -->
 <div class='sidebar'>
   <div class='heading'>
     <h1>Sensors</h1>
   </div>

   <div id='sensors' class='sensors'></div>
 </div>


 <!-- map -->
 <div id='map' class='map'></div>

<script>

   // This will let you use the .remove() function later on
   if (!('remove' in Element.prototype)) {
     Element.prototype.remove = function() {
       if (this.parentNode) {
           this.parentNode.removeChild(this);
       }
     };
   }

   mapboxgl.accessToken = 'pk.eyJ1Ijoia2F0ZWhpY2tleTI2IiwiYSI6ImNrZDk5bzVxMTA2MWQzNHJ4NGRucjFxbGMifQ.XeSYaehxN9YwUmHB35pTag';

   //adding variable bounds to the map
   var bounds = [
      [-4.60, 56.00], // Southwest coordinates
      [-4.10, 56.88] // Northeast coordinates
    ];

   // map style
   var map = new mapboxgl.Map({
     container: 'map',
     style: 'mapbox://styles/mapbox/satellite-streets-v10',
     center: [-4.7118, 56.4361],
     zoom: 8
     //maxBounds: bounds // Sets bounds using 'bounds' variable
   });

    // adds zoom buttons and compass
    const nav = new mapboxgl.NavigationControl();
    map.addControl(nav, "top-right");

    // Add scale bar
    var scale = new mapboxgl.ScaleControl({
       unit: 'imperial'
    });

    map.addControl(scale, 'bottom-right');


     //load all point layers for the list
     map.on('style.load', function(){
       map.loadImage("/KirktonApp/static/images/marker.png",
       function(error, image){
          map.addImage('marker', image);

          map.addSource("points", {
            type: "geojson",
            data: "https://raw.githubusercontent.com/KateHickey26/SmartFarm/master/SFproject/KirktonApp/Kirkton.geojson"
          });

          map.addLayer({
            "id": "sensors",
            "type": "symbol",
            "source": "points",
            "layout": {
              "icon-image": "marker",
              "icon-size": 1,
              "icon-anchor": "bottom",
			           "visibility": "none",
               }
        });
      }
    );
  });

      // // for (i = 0; i < data.features.length; i++) {
      //  /* For each feature in the GeoJSON object above: */
      //   data.features.forEach(function(marker) {
      //     /* Create a div element for the marker. */
      //     var el = document.createElement('div');
      //     /* Assign a unique `id` to the marker. */
      //     el.id = "marker-" + marker.properties.id;
      //     /* Assign the `marker` class to each marker for styling. */
      //     el.className = 'marker';
        //   /**
        //    * Create a marker using the div element
        //    * defined above and add it to the map.
        //   **/
        //   new mapboxgl.Marker(el, { offset: [0, -23] })
        //     .setLngLat(marker.geometry.coordinates)
        //     .addTo(map);
        //
        // //  });


    var sensors = "https://raw.githubusercontent.com/KateHickey26/SmartFarm/master/SFproject/KirktonApp/Kirkton.geojson";


    // Use the point layers to create the list
   map.on('load', () => {
     fetch(sensors)
        .then(response => response.json())
        .then((data) => {
         map.loadImage("/KirktonApp/static/images/marker.png",
          function(error, image){
             map.addImage("marker2", image);
             map.addSource("locations",{
              type: 'geojson',
              data: data
            });

       map.addLayer({
         "id": "locations",
         "type": "symbol",
         "source": "locations",
         "layout": {
           "icon-image": "marker2",
           "icon-size": 1,
         }
       });
       buildLocationList(data);
  //   }
    });

     });
   });


// add event listeners for the map markers
map.on('click', function (e){
  var features = map.queryRenderedFeatures(e.point, {
    layers: ["locations"]
  });

  if(features.length){
    var clickedPoint = features[0];
         // Fly to the point
         flyToSensor(clickedPoint);
         // Close all other popups and display popup for clicked sensor
         createPopUp(clickedPoint);
         // Highlight listing in sidebar
         showGraphButton(clickedPoint);

         var activeItem = document.getElementsByClassName('active');
    //     e.stopPropagation();
         if (activeItem[0]) {
           activeItem[0].classList.remove('active');
         }

         var selectedFeature = clickedPoint.properties.address;

         // for use in ID
         for (var i = 0; i < sensors.features.length; i++) {
			        if (sensors.features[i].properties.title === selectedFeature) {
				            selectedFeatureIndex = i;
			        }
		     }

         var sensor = document.getElementById('sensor-' + marker.selectedFeatureIndex);
         sensor.classList.add('active');
       }
  });



   // add each sensor to the sidebar
   function buildLocationList(data) {
     for (i = 0; i < data.features.length; i++) {

       // creating an array of all the sensors
       var currentFeature = data.features[i];
       // variable for sensor properties
       var prop = currentFeature.properties;

       // add new sensor list to side bar, select sensors container in HTML
       var sensors = document.getElementById('sensors');
       // append a sensors div for each sensor in the list
       var sensor = sensors.appendChild(document.createElement('div'));

       // Assign the `item` class to each sensor for styling.
       sensor.className = 'item';
       // give each sensor its own id, for creating the side bar list
       sensor.id = "listing-" + i;

       // Add the link to the individual sensor created above
       var link = sensor.appendChild(document.createElement('a'));
       link.href = '#';
       link.className = 'title';
       link.id = "link-" + prop.id;
       link.innerHTML = currentFeature.properties.title + prop.description;

       // Add details to the individual sensors
       var details = sensor.appendChild(document.createElement('div'));
       details.innerHTML = prop.description;
       // if (prop.phone) {
       //   details.innerHTML += ' · ' + prop.phoneFormatted;
       // }

       // add event listeners to the items in the list
      link.addEventListener('click', function(e){
         e.preventDefault();
         // for (var i=0; i < data.features.length; i++) {
    //     if (this.id === "link-" + prop.id) {

           // when clicked, fly to sensor, popup, and show "Show Graph" button
           var clickedSensor = data.features[this.dataPosition];
             flyToSensor(clickedSensor);
             createPopUp(clickedSensor);
             showGraphButton(clickedSensor);

          // highlight sensor and remove other highlights
          var activeItem = document.getElementsByClassName('active');
          if (activeItem[0]) {
              activeItem[0].classList.remove('active');
          }
          this.parentNode.classList.add('active');
          //  e.preventDefault();
  //      }
      });
     };
   }


   // method for "flying to" a sensor
   function flyToSensor(clickedSensor) {
     map.flyTo({
       center: clickedSensor.geometry.coordinates,
       zoom: 10
     });
   }


   // method for popup on map
   function createPopUp(currentFeature) {
     var popUps = document.getElementsByClassName('mapboxgl-popup');
     if (popUps[0]) popUps[0].remove();

     var popup = new mapboxgl.Popup({closeOnClick: false})
       .setLngLat(currentFeature.geometry.coordinates)
       .setHTML(currentFeature.properties.title +
         '<h4>' + currentFeature.properties.description + '</h4>')
       .addTo(map);

       var link = $("<a>", {
         href: currentFeature.properties.url,
         text: "click",
         target: "_blank"
       }).appendTo(popup);
   }


   // method for creating the Show Graph button
   function showGraphButton(clickedSensor){

     // empties graphButton div each time this function is called
     $("#graphButton").empty();

     var graphDiv = document.getElementById("graphButton");

     // creates button
     var button = document.createElement("button");
     // adds button label
     button.innerHTML = "Show Graph"

     // append button
     graphDiv.appendChild(button);

     document.getElementById("graphButton").onclick = function(){
       window.location = "{% url 'KirktonApp:sensor_graph'%}";
     };

   }

</script>

 </div>


{% endblock %}
