{% extends 'KirktonApp/base.html' %}
{% load static %}

{% block body_block %}


 <div class="container" name="main body" >

    <div id='graphButton'></div>
    <!-- class="nav-link" href="{% url 'KirktonApp/sensorGraph.html'"> -->

 <!-- Side panel -->
 <div class='sidebar'>
   <div class='heading'>
     <h1>Sensors</h1>
   </div>

   <div id='sensors' class='sensors'></div>
 </div>

 <!-- map -->
 <div id='map' class='map'></div>

 <script>
   // This will let you use the .remove() function later on
   if (!('remove' in Element.prototype)) {
     Element.prototype.remove = function() {
       if (this.parentNode) {
           this.parentNode.removeChild(this);
       }
     };
   }

   mapboxgl.accessToken = 'pk.eyJ1Ijoia2F0ZWhpY2tleTI2IiwiYSI6ImNrZDk5bzVxMTA2MWQzNHJ4NGRucjFxbGMifQ.XeSYaehxN9YwUmHB35pTag';

   //adding variable bounds to the map
   var bounds = [
      [-4.60, 56.00], // Southwest coordinates
      [-4.10, 56.88] // Northeast coordinates
    ];

   // map style
   var map = new mapboxgl.Map({
     container: 'map',
     style: 'mapbox://styles/mapbox/satellite-streets-v10',
     center: [-4.7118, 56.4361],
     zoom: 8
     maxBounds: bounds // Sets bounds using 'bounds' variable
   });

   // adds zoom buttons and compass
     const nav = new mapboxgl.NavigationControl();
     map.addControl(nav, "top-right");

   // sensor GeoJSON data
   var sensors = {
      "type": "FeatureCollection",
        "features": [
          {
           "type": "Feature",
           "properties": {
             "title": "LoRaWAN Gateway 1",
             "description": "No description"
           },
           "geometry": {
             "type": "Point",
             "coordinates": [-4.3937, 56.2509]
           }
         },
         {
           "type": "Feature",
           "properties": {
             "title": "LoRaWAN Gateway 2",
             "description": "No description"
           },
           "geometry": {
             "type": "Point",
             "coordinates": [-4.4040, 56.2519]
           }
         },
         {
           "type": "Feature",
           "properties": {
             "title": "River Level Sensor 1",
             "description": "No description"
           },
           "geometry": {
             "type": "Point",
             "coordinates": [-4.3921, 56.2455]
           }
         },
         {
           "type": "Feature",
           "properties": {
             "title": "River Sensor 2",
             "description": "No description"
           },
           "geometry": {
             "type": "Point",
             "coordinates": [-4.3946, 56.2458]
           }
         },
         {
           "type": "Feature",
           "properties": {
             "title": "River Sensor 3",
             "description": "No description"
           },
           "geometry": {
             "type": "Point",
             "coordinates": [-4.3936, 56.2510]
           }
         },
         {
           "type": "Feature",
           "properties": {
             "title": "River Sensor 4",
             "description": "No description"
           },
           "geometry": {
             "type": "Point",
             "coordinates": [-4.4015, 56.2617]
           }
         },
         {
           "type": "Feature",
           "properties": {
             "title": "River Sensor 5",
             "description": "No description"
           },
           "geometry": {
             "type": "Point",
             "coordinates": [-4.4006, 56.2607]
           }
         },
         {
           "type": "Feature",
           "properties": {
             "title": "River Sensor 6",
             "description": "No description"
           },
           "geometry": {
             "type": "Point",
             "coordinates": [-4.3942, 56.2616]
           }
         },
         {
           "type": "Feature",
           "properties": {
             "title": "Centre of map",
             "description": "No description"
           },
           "geometry": {
             "type": "Point",
             "coordinates": [-4.7118, 56.4361]
           }
         }
       ]
      };


    // Assigning a unique id to each sensor to associate each point on
    // the map with a listing in the sidebar
   sensors.features.forEach(function(sensor, i){
     sensor.properties.id = i;
   });


   map.on('load', function (e) {
     // adds the geojson data as source
     map.addSource("places", {
       "type": "geojson",
       "data": sensors
     });

     // add sidebar list and map markers to page
     buildLocationList(sensors);
     addMarkers();
  });


   // method for adding markers to the map for each sensor
   function addMarkers() {
     // For each feature in the GeoJSON object above
     sensors.features.forEach(function(marker) {
       // Create a div element for the marker
       var el = document.createElement('div');
       // Assign a unique `id` to the marker
       el.id = "marker-" + marker.properties.id;
       // Assign the `marker` class to each marker for styling.
       el.className = 'marker';

      //  Create a marker using the div element
      //   defined above and add it to the map.
       new mapboxgl.Marker(el, { offset: [0, -23] })
         .setLngLat(marker.geometry.coordinates)
         .addTo(map);

       /**
        * Listen to the element and when it is clicked, do four things:
        * 1. Fly to the point
        * 2. Close all other popups and display popup for clicked sensor
        * 3. Highlight listing in sidebar (and remove highlight for all other listings)
        * 4. Show the 'Show Graph' button
       **/

       el.addEventListener('click', function(e){
         // Fly to the point
         flyToSensor(marker);
         // Close all other popups and display popup for clicked sensor
         createPopUp(marker);
         // Highlight listing in sidebar
         showGraphButton();

         var activeItem = document.getElementsByClassName('active');
         e.stopPropagation();
         if (activeItem[0]) {
           activeItem[0].classList.remove('active');
         }
         var sensor = document.getElementById('sensor-' + marker.properties.id);
         sensor.classList.add('active');
       });
     });
   }

   // add each sensor to the sidebar
   function buildLocationList(data) {
      data.features.forEach(function(sensor, i){

       // variable for sensor properties
       var prop = sensor.properties;

       // add new sensor list to side bar
       var sensors = document.getElementById('sensors');
       var sensor = sensors.appendChild(document.createElement('div'));

       // Assign a unique `id` to the sensor.
       sensor.id = "sensor-" + prop.id;

       // Assign the `item` class to each sensor for styling.
       sensor.className = 'item';

       // Add the link to the individual sensor created above.
       var link = sensor.appendChild(document.createElement('a'));
       link.href = '#';
       link.className = 'title';
       link.id = "link-" + prop.id;
       link.innerHTML = prop.address;

       // Add details to the individual sensors.
       var details = sensor.appendChild(document.createElement('div'));
       details.innerHTML = prop.city;
       if (prop.phone) {
         details.innerHTML += ' · ' + prop.phoneFormatted;
       }

       /**
        * Listen to the element and when it is clicked, do four things:
        * 1. Update the `currentFeature` to the sensor associated with the clicked link
        * 2. Fly to the point
        * 3. Close all other popups and display popup for clicked sensor
        * 4. Highlight listing in sidebar (and remove highlight for all other listings)
       **/

      link.addEventListener('click', function(e){
         for (var i=0; i < data.features.length; i++) {
           if (this.id === "link-" + data.features[i].properties.id) {
             var clickedSensor = data.features[i];
             flyToSensor(clickedSensor);
             createPopUp(clickedSensor);
             showGraphButton();
           }
         }
         var activeItem = document.getElementsByClassName('active');
         if (activeItem[0]) {
           activeItem[0].classList.remove('active');
         }
         this.parentNode.classList.add('active');
         e.preventDefault();
       });
     });
   }


   // method for "flying to" a sensor
   function flyToSensor(currentFeature) {
     map.flyTo({
       center: currentFeature.geometry.coordinates,
       zoom: 10
     });
   }


   // method for popup on map
   function createPopUp(currentFeature) {
     var popUps = document.getElementsByClassName('mapboxgl-popup');
     if (popUps[0]) popUps[0].remove();
     var popup = new mapboxgl.Popup({closeOnClick: false})
       .setLngLat(currentFeature.geometry.coordinates)
       .setHTML(currentFeature.properties.title +
         '<h4>' + currentFeature.properties.description + '</h4>')
       .addTo(map);
   }


   // method for creating the Show Graph button
   function showGraphButton(){

     // empties graphButton div each time this function is called
     $("#graphButton").empty();

     var graphDiv = document.getElementById("graphButton");

     // creates button
     var button = document.createElement("button");
     // adds button label
     button.innerHTML = "Show Graph"

     // append button to the pop up
     graphDiv.appendChild(button);

     // // add event listener to the button
     // button.addEventListener('click', function(e){
     //
     // }

     $(function(){
       button = $(this);

       $.ajax({
         type: "GET",
         url: "sensorGraph.html",
       })
     });

     }
   }

   </script>

 </div>


{% endblock %}
