{% extends 'KirktonApp/base.html' %}
{% load static %}

{% block title_block %}
  My Account
{% endblock %}

{% block body_block %}
<div class="container" name="mainbody">
    <div class="row mt-4">
        <div class="col-5 my-auto">
            <h1><span class="label label-default">My Account</span></h1>
        </div>
        <div class="col-3 my-auto">
            <div class="form-group"> <!--Below is form for a user -->
                <form action="{% url 'KirktonApp:my_account' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="exampleInputUsername">Email</label>
                    <input type="username" class="form-control" id="exampleInputUsername"  name="username"
                           placeholder="{{user.username}}">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Input password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                    </div>
                    <input class="btn btn-primary my-2 px-2" type="submit" value="Change">
                </form>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
