{% extends 'KirktonApp/base.html' %}
{% load static %}

{% block title_block %}
  Graph - add a way to get the sensor id/name?
{% endblock %}

{% block body_block %}
<div>
        <img src="/static/images/field.jpeg" id="field" width="420" alt="missing field image"/>


    <div style="width:75%;">
		<button onclick="resetZoom()">Reset Zoom</button>
		<button id="drag-switch" onclick="toggleDragMode()">Disable drag mode</button>
      <!-- {% if registered % -->
    <button id="download-csv" onclick="downloadAsCSV()">Download data as CSV file</button>
      <!-- {% endif % -->
		<canvas id="canvas"></canvas>
<canvas id="chart" width="800" height="400"></canvas>
    </div>

</div>


<script>
chartIt();

async function chartIt(){
    const data = await getData(); // makes this function wait until all the data has been retrieved
    const ctx = document.getElementById('chart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: data.xs,
            datasets: [{
                label: 'River Level distance, at River Level Sensor 775',
                data: data.ys,
                backgroundColor:'rgba(255, 99, 132, 0.2)',
                borderColor:'rgba(255, 99, 132, 1)',
                borderWidth: 1,
                fill: false
            }]
        },
        options: {
        scales: {
            yAxes: [{
                ticks: {
                    // takes the value, returns it plus cm label
                    callback: function(value, index, values) {
                        return value + 'cm';
                    }
                }
            }]
        }
    },
    plugins: {
        zoom: {
            pan: {
              enabled: true,
              mode: 'xy',
              speed: 20
            },
            zoom: {
              enabled: true,
              drag: true,
              mode: 'x',
              speed: 0.1
            }
        }
    }
    });
}

    // reset zoom button function
    window.resetZoom = function() {
			   window.myLine.resetZoom();
		};

    // toggle drag mode button function
		window.toggleDragMode = function() {
			var chart = window.myLine;
			var zoomOptions = chart.options.plugins.zoom.zoom;
			zoomOptions.drag = zoomOptions.drag ? false : dragOptions;

      chart.update();
			document.getElementById('drag-switch').innerText = zoomOptions.drag ? 'Disable drag mode' : 'Enable drag mode';
		};

    window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new window.Chart(ctx);
		};

    // take the data after its been used to make the graph and THEN parse it BACK to csv,
    // - this allows for database and REST API integration later.
    // May need an if statement for database vs csv.
    // currently only for csv files
    // add ranges?
    // if statement for file name? using variables?
    // replace file name with a file name variable? add 'filename' vqariable as a paramter
    downloadAsCSV = function(filename) {
      var aLink = document.createElement('a');
      var data = getData();
      var evt = document.createEvent("HTMLEvents");
      evt.initEvent("click");
      aLink.download = filename;
      aLink.href = data;
      aLink.dispatchEvent(evt);

      // var csvFile = new Blob([csv], {type:"static/RiverLevelSensor775.csv"});
      //
      // window.open("data:text/csv;charset=utf-8," + escape(csv))
    };

    downloadAsCSV('static/RiverLevelSensor775.csv');

      // test image
       console.log('fetching field image');
            displayImage()
                .then(response => {
                console.log('the code has worked!');
            })
            .catch(error => {
                console.log('error!');
                console.error(error);
            });
       async function displayImage(){
        // cant get this image to show on the live server - could have something to do
        // with how ive configured my static files
            const response = await fetch('static/images/field.jpeg');
            const blob = await response.blob();
            document.getElementById('field').src = URL.createObjectURL(blob);
        }


      // graph
      // change this to get correct in file name from sensor name data?
      // and options for csv vd database files. maybe an attribute in json?
    getData();
    async function getData(){
        var xs = [];
        var ys = [];

        // if statement to get file name? using variables?
        var response = await fetch('static/RiverLevelSensor775.csv');
        var data = await response.text();

        // splits data into rows, and removes title row from parsing
        var table = data.split('\n').slice(1);

        // splitting the rows
        table.forEach(row => {
            var columns = row.split(',');
            var timestamp = columns[0];
            xs.push(timestamp); // as each timestamp is read, it is added to the array to be a label on the x axis of the graph
            var timezone = columns[1];
            var distance = columns[2];
            ys.push(distance);
         //   console.log(timestamp, distance);
        });
        return { xs, ys };
    }


    </script>

{% endblock %}
