{% extends 'KirktonApp/base.html' %}
{% load static %}

{% block title_block %}
  Graph - add a way to get the sensor id/name?
{% endblock %}

{% block body_block %}
<div>
        <img src="/static/images/field.jpeg" id="field" width="420" alt="missing field image"/>


    <div style="width:75%;">
		<button onclick="resetZoom()">Reset Zoom</button>
		<button id="drag-switch" onclick="toggleDragMode()">Disable drag mode</button>
      <!-- {% if registered % -->
    <button id="download-csv" onclick="downloadSensorData()">Download data as CSV file</button>
      <!-- {% endif % -->
		<canvas id="canvas"></canvas>
<canvas id="chart" width="800" height="400"></canvas>
    </div>

</div>


<script>

chartIt();

async function chartIt(){
    const data = await getData(); // makes this function wait until all the data has been retrieved
    const ctx = document.getElementById('chart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: data.xs,
            datasets: [{
                label: 'River Level distance, at River Level Sensor 775',
                data: data.ys,
                backgroundColor:'rgba(255, 99, 132, 0.2)',
                borderColor:'rgba(255, 99, 132, 1)',
                borderWidth: 1,
                fill: false
            }]
        },
        options: {
        scales: {
            yAxes: [{
                ticks: {
                    // takes the value, returns it plus cm label
                    callback: function(value, index, values) {
                        return value + 'cm';
                    }
                }
            }]
        }
    },
    plugins: {
        zoom: {
            pan: {
              enabled: true,
              mode: 'xy',
              speed: 20
            },
            zoom: {
              enabled: true,
              drag: true,
              mode: 'x',
              speed: 0.1
            }
        }
    }
    });
}

    // reset zoom button function
    window.resetZoom = function() {
			   window.myLine.resetZoom();
		};

    // toggle drag mode button function
		window.toggleDragMode = function() {
			var chart = window.myLine;
			var zoomOptions = chart.options.plugins.zoom.zoom;
			zoomOptions.drag = zoomOptions.drag ? false : dragOptions;
      chart.update();
			document.getElementById('drag-switch').innerText = zoomOptions.drag ? 'Disable drag mode' : 'Enable drag mode';
		};

    window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new window.Chart(ctx);
		};


    // take the data after its been used to make the graph and THEN parse it BACK to csv,
    // - this allows for database and REST API integration later.
    // May need an if statement for database vs csv.
    // currently only for csv files
    // add ranges?
    // if statement for file name? using variables?
    // replace file name with a file name variable? add 'filename' vqariable as a paramter
    downloadAsCSV = function(filename) {
      // var aLink = document.createElement('a');
      // var data = getData();
      // var evt = document.createEvent("HTMLEvents");
      // evt.initEvent("click");
      // aLink.download = filename;
      // aLink.href = data;
      // aLink.dispatchEvent(evt);

      // var csvFile = new Blob([csv], {type:"static/RiverLevelSensor775.csv"});

      // this code works to open window but doesnt have anything in it
      // var response = fetch('static/RiverLevelSensor775.csv');
      // window.open("data:text/response;charset=utf-8," + escape(response))

      // var csvContent = "data:text/csv;charset=utf-8";
      // var encodedUri = encodeURI(csvContent);
      // window.open(encodedUri);
      // window.open("data:text/csv;charset=utf-8," + escape(csv))
    };




  //  downloadAsCSV('static/RiverLevelSensor775.csv');



    // graph function to fill data
    // change this to get correct in file name from sensor name data?
    // and options for csv vd database files. maybe an attribute in json?
    getData();
    async function getData(){
        const xs = [];
        const ys = [];

        // if statement to get file name? using variables?
        const response = await fetch('static/RiverLevelSensor775.csv');
        const data = await response.text();

        // splits data into rows, and removes title row from parsing
        const table = data.split('\n').slice(1);

        // reverse this for creating the csv file
        // splitting the rows
        table.forEach(row => {
            const columns = row.split(',');
            const timestamp = columns[0];
            xs.push(timestamp); // as each timestamp is read, it is added to the array to be a label on the x axis of the graph
            const timezone = columns[1];
            const distance = columns[2];
            ys.push(distance);
        });
        return { xs, ys };
    }

    // // variable for sensor id, sensor name used
    // var sensorId = clickedSensor.properties
    // // variable for url / filename
    // var url =

    var filename = 'static/RiverLevelSensor775.csv';
    function downloadSensorData(filname){
      getCsvFromCsv(filename);
    }

    // method for getting the csv info when the csv file already exists
    // and calling the method to download it on the browser
    async function getCsvFromCsv(filename){
      // if statement to get file name? using variables?
      const response = await fetch(filename);
      const data = await response.text();
      download(data);
    }
    // seperate function to create a csv from just the graph data?
    // backwards engineer from the getData() method? then call the same download method below

    // // youtube tutorial
    // //function to change the graph data to a csv
    // const objectToCsv = async function() {
    //   const data = await getData(); // makes this function wait until all the data has been retrieved
    //   const table = [];
    //
    //   // get the headers - this method uses a json object
    //   const headers = data.xs;
    //   csvRows.push(headers.join(',')); // comma separates
    //
    //   // loop over rows
    //   for(const row of data){
    //     const values = headers.map(header => {
    //       // rejex to replace values, raplaces quotes with backslash quote to
    //       // prevent messing up if commas are included in data
    //       const escaped = row[header].replace(/"/g, '\\"');
    //       return '"${row[header]}"';
    //
    //     });
    //     csvRows.push(values.join(','));
    //   }
    //
    //   // join everything by new myLine
    //   return csvRows.join('\n');
    //
    // };

    // youtube tutorial
    // method to download the file on the browser
    // this method can be used with all functions
    const download = function(data){
      // need to use a blob to download something
      const blob = new Blob([data], {type: 'text/csv'});
      // send the blob to the browser
      // allows you to create a url version of the csv file
      const url = window.URL.createObjectURL(blob);
      // create an a tag
      const a = document.createElement('a');
      a.setAttribute('hidden', '');
      a.setAttribute('href', url);
      a.setAttribute('download', 'download.csv'); // allows it to be downloaded
      // append a to document
      document.body.appendChild(a);
      // cick it and remove it
      a.click();
      document.body.removeChild(a);
    }

    // const csvData = objectToCsv(getData());
    // download(csvData);




    // test field image
     console.log('fetching field image');
          displayImage()
              .then(response => {
              console.log('the code has worked!');
          })
          .catch(error => {
              console.log('error!');
              console.error(error);
          });
     async function displayImage(){
      // cant get this image to show on the live server - could have something to do
      // with how ive configured my static files
          const response = await fetch('static/images/field.jpeg');
          const blob = await response.blob();
          document.getElementById('field').src = URL.createObjectURL(blob);
      }

    </script>

{% endblock %}
