{% extends 'KirktonApp/base.html' %}
{% load static %}

{% block title_block %}
  <br>- Graph Page
{% endblock %}

{% block body_block %}
<div>

    <div style="width:75%;">
		<button onclick="resetZoom()">Reset Zoom</button>
		<button id="drag-switch" onclick="toggleDragMode()">Disable drag mode</button><!--Not functioning as required-->
     {% if user.is_authenticated %}
    <button id="download-csv" onclick="getCsvFromCsv()">Download data as CSV file</button>
    <button id="refresh-chart" onclick="myChart.update()">Refresh Graph</button>

     {% endif %}

<canvas id="chart" width="750" height="420" aria-label="Sensor Graph"></canvas>
    </div>

</div>

<script>

chartIt();

// chart function
async function chartIt(){
    const data = await getData(); // makes this function wait until all the data has been retrieved
    const ctx = document.getElementById('chart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: data.xs,
            datasets: [{
                label: 'River Level distance, Dummy Data',
                data: data.ys,
                backgroundColor:'rgba(149, 149, 149, 0.2)',
                borderColor:'rgba(149, 149, 149, 1)',
                borderWidth: 1,
                fill: true
            }]
        },
        options: {
        scales: {
            yAxes: [{
                ticks: {
                    // takes the value, returns it plus cm label
                    callback: function(value, index, values) {
                        return value + 'cm';
                    }
                }
            }]
        }
    },
    plugins: {
        zoom: {
            pan: {
              enabled: true,
              mode: 'xy',
              rangeMin: {
				       // Format of min pan range depends on scale type
				      x: null,
				      y: null
			        },
			        rangeMax: {
				      // Format of max pan range depends on scale type
				      x: null,
				      y: null
			        },
              speed: 20,
              // Minimal pan distance required before actually applying pan
			        threshold: 10
            },
            zoom: {
              enabled: true,
              drag: true,
              mode: 'x',
              rangeMin: {
				      // Format of min zoom range depends on scale type
				      x: null,
				      y: null
			        },
			        rangeMax: {
				      // Format of max zoom range depends on scale type
				      x: null,
				      y: null
			        },
              speed: 0.1,
              // Minimal zoom distance required before actually applying zoom
			        threshold: 2
            }
        }
    }
  });
}


    // reset zoom button function
    window.resetZoom = function() {
			   window.myLine.resetZoom();
		};

    // toggle drag mode button function
		window.toggleDragMode = function() {
			var chart = window.myLine;
			var zoomOptions = chart.options.plugins.zoom.zoom;
			zoomOptions.drag = zoomOptions.drag ? false : dragOptions;
      chart.update();
			document.getElementById('drag-switch').innerText = zoomOptions.drag ? 'Disable drag mode' : 'Enable drag mode';
		};

    window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new window.Chart(ctx);
		};


    // graph function to fill data
    getData();
    async function getData(){
        const xs = [];
        const ys = [];

        // if statement to get file name? using variables?
        const response = await fetch('static/test.csv');
        const data = await response.text();

        // splits data into rows, and removes title row from parsing
        const table = data.split('\n').slice(1);

        // splitting the rows
        table.forEach(row => {
            const columns = row.split(',');
            const timestamp = columns[0];
            xs.push(timestamp); // as each timestamp is read, it is added to the array to be a label on the x axis of the graph
            const timezone = columns[1];
            const distance = columns[2];
            ys.push(distance);
        });
        return { xs, ys };
    }

    var filename = 'static/test.csv';
    function downloadSensorData(filename){
      getCsvFromCsv(filename);
    }


    async function getCsvFromCsv(filename){
      const response = await fetch(filename);
      const data = await response.text();
      download(data);
    }


    // method to download the file on the browser
    // this method can be used with all functions
    const download = function(data){
      // need to use a blob to download something
      const blob = new Blob([data], {type: 'text/csv'});
      // send the blob to the browser
      // allows you to create a url version of the csv file
      const url = window.URL.createObjectURL(blob);
      // create an a tag
      const a = document.createElement('a');
      a.setAttribute('hidden', '');
      a.setAttribute('href', url);
      a.setAttribute('download', 'download.csv'); // allows it to be downloaded
      // append a to document
      document.body.appendChild(a);
      // cick it and remove it
      a.click();
      document.body.removeChild(a);
    }

    // // method for updating chart for future use
    // myChart.update({
    //   duration: 800, // time for redraw in milliseconds
    // });

    </script>

{% endblock %}
